<div class="container">
    <h4>-</h4>
</div>
   
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Transfer Funds</legend>
    <div class="Insert-rates" >
        <div class="control-group">
            <div class="controls bootstrap-timepicker">
                    <label class="control-label input-label" for="startTime">Account</label> &nbsp; 
                    <label class="select" for="slct">
                          
                            <select id="slct" class="form-control" required="required">
                                <option value="" disabled="disabled" selected="selected">Select Account Type</option>
                                <option value="#">Primary</option>
                                <option value="#">Savings</option>
                            </select>
                            <svg>
                                <use xlink:href="#select-arrow-down"></use>
                            </svg>
                    </label>
                        <svg class="sprites">
                            <symbol id="select-arrow-down" viewbox="0 0 10 6">
                                <polyline points="1 1 5 5 9 1"></polyline>
                            </symbol>
                        </svg>




                        <label class="control-label input-label" for="startTime">Receipent Account</label> &nbsp; 
                        <input type="text"class="datetime" id="startTime" name="startTime" /> 

                    
            </div>
            <div class="controls bootstrap-timepicker">
                 
                    <label class="control-label input-label" for="startTime">Transfer Amount</label>  &nbsp;
                    <input type="text"  class="datetime" id="startTime" name="startTime" /> 
                    <label class="control-label input-label" for="startTime"> IFSC Code</label> &nbsp; 
                        <input type="text"class="datetime" id="startTime" name="startTime" />  &nbsp; 
                   
            </div>
            <div class="controls bootstrap-timepicker">
                   
                    <label class="control-label input-label" for="startTime">Remarks</label> &nbsp;
                    <input type="text"class="datetime" id="startTime" name="startTime" /> 

            </div>

        </div>
                 <div class="button2">
                        <button type="submit"  class="btn-success" >Submit</button> 
                     
                </div>
        </div>
</fieldset>
         






