
<div class="login">
    <div class="login-background">
        <div class="login-logo"> </div>
        <!-- <div class="top-left"><h1>STOCKS &<br>ORDER MATCHING</h1></div> -->
        <div class ="Box">
            <h3> LOGIN </h3> 
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group inputBox">
              <input formControlName="custodianID" id="custodianID" autocomplete="off" required type="text" class="form-control">
<label>Username</label>
<div *ngIf="f.custodianID.touched && f.custodianID.invalid" class="alert alert-danger">
<div *ngIf="f.custodianID.errors && f.custodianID.errors.required"><small>CustodianID is required</small></div>
</div>

          </div>

          <div class="form-group inputBox">                   
            <input type="password" name="pin" class="form-control" required formControlName="password">
            <label>Password</label>
            <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
            <div *ngIf="f.password.errors && f.password.errors.required"><small>Password is required</small></div>
            <div *ngIf="f.password.errors && f.password.errors.minlength"><small>Password should be 6 character</small></div>
            </div>
          </div>

              <input type="button" name="submit" value="Login" />

          </form>
        </div>
     </div>
