
<!-- Navbar -->
<div class ="box">
    <nav class="nav">
        <ul class="navbar navbar-fixed-top">
          <li class="nav__listitem" routerLinkActive="active"><a [routerLink]= "['home']"  >Home</a> </li>
          <li class="nav__listitem" routerLinkActive="active"><a [routerLink]= "['transfer']" >Transfer</a> </li>
          <li class="nav__listitem" routerLinkActive="active"><a [routerLink]= "['check']"  >Check Balance</a> </li>
          <a  [routerLink]="['login']">Logout</a>
        </ul>
        
    
         
      </nav>
    </div>
    
    
    
    
    
    
    