<div class="container">
    <h4>-</h4>
</div>
   
<fieldset class="scheduler-border">
   
    <div class="Insert-rates" >
        <div class="control-group">
            <div class="controls bootstrap-timepicker">
                    <label class="control-label input-label" for="startTime">Account No :
                       


                    </label> &nbsp; 
                    xxxxxxxxxxxxxxx
                  
            </div>
            <div class="controls bootstrap-timepicker">
                 
                    <label class="control-label input-label" for="startTime">Account Name :
                       


                        </label> &nbsp; 
                        xxxxxxxxxxxxxxx
            </div>
            <div class="controls bootstrap-timepicker">
                   
                    <label class="control-label input-label" for="startTime">IFSC Code :</label> &nbsp;
                      xxxxxxxxxxxxxxxx
            </div>

        </div>
                
        </div>
</fieldset>
         






